@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
  background-color: gray;
}

#container {
  font-family: Ubuntu;
  margin: auto;
  width: 25%;
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-areas:
    "header header header"
    "button button button"
    "button button button"
    "button button button"
    "display display display";
}

h1 {
  grid-area: header;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: orange;
  height: 50px;
  text-align: center;
  vertical-align: center;
}

button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 8px 8px;
  border-width: 5px;
  border-color: black;
  border-radius: 50%;
  padding: 0 16px;
  width: 100px;
  height: 100px;
  text-align: center;
  color: #fff;
  background-color: #003663;
  box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.24),
    5px 5px 5px 0px rgba(110, 106, 106, 0.24),
    5px 5px 5px 0px rgba(0, 0, 0, 0.22);
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

button:hover,
button:focus {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

button:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

button:disabled {
  color: rgba(0, 0, 0, 0.38);
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: none;
  cursor: initial;
}

button::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: currentColor;
  opacity: 0;
  transition: opacity 0.2s;
}

button:hover::before {
  opacity: 0.12;
}

button::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  padding: 50%;
  width: 100px;
  height: 100px;
  background-color: currentColor;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

button:focus::after {
  opacity: 0.4;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

button:disabled::after {
  opacity: 0;
}

#display {
  grid-area: display;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: rgb(114, 133, 187);
  height: 50px;
  text-align: center;
  vertical-align: center;
  font-size: 40px;
}
